<ion-header>
  <ion-toolbar>
    <ion-title>recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <!-- Lo de ngFor es para referenciar objetos del recipe.page.ts, donde se creo un array de recipes-->
  <ion-item *ngFor ="let recipe of recipes">
  <!--Lo de avatar es para envolver a una imagen --->
    <ion-avatar slot = "start">

      <ion-img [src] = "recipe.imageUrl"></ion-img>
      <ion-label>{{ recipe.title }}</ion-label>
    </ion-avatar>
  </ion-item>
  </ion-list>
</ion-content>
